{% extends "layout.html" %}

{% block content %}
<script>
        function validateForm() {
        var x = document.forms["todoForm"]["description"].value;
        if (x == "") { 
            alert("Description must be filled out");
            return false;
        }
        return true;
    }

    function askConfirmation(type){
    alert('called');
        if(type=='add'){
            confirm("Are you sure you want add this record?");
            }
        }

    function askConfirmation(type){
    alert('called');
        if(type=='delete'){
            confirm("Are you sure you want delete this record?");
        }
    }

</script>
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th></th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ url_for('todo', id=todo.id) }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <form method="post" onsubmit="return confirm('Do you really want to Delete the record?');" action="{{ url_for('todo_delete', id=todo.id) }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
                <td>
                    <form  onsubmit="return confirm('Are you sure you want to change the status?');" method="post" action="{{ url_for('changeStatus_POST', id=todo.id) }}">
                        {% if todo.is_complete == 1 %}
                            <button type="submit" class="btn btn-xs btn-success">Complete</button>
                            {% else %}
                            <button type="submit" class="btn btn-xs btn-danger">Incomplete</button>
                            {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" name="todoForm" onsubmit=" return validateForm() && confirm('Do you really want to Add the record?')" action="{{ url_for('todos_POST') }}">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description...">
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
</div>
{% endblock %}